input:checked + label>div{
  text-decoration: line-through;
  color: gray;

}
.trash:hover{
  color: red;
}
.modal-title{
  color: #0d6efd;
}
#txtUpdate{
  border: none;
  outline: none;
}
#background {
  background-color: #99b8f1 !important;
}
#tasks, {
  background-color: #fff !important;
}
#input-div{
  background-color: #689af3;
}
