input:checked + label>div{
  text-decoration: line-through;
  color: gray;

}
.trash:hover{
  color: red;
}
.modal-title{
  color: #ffff;
}
#txtUpdate{
  border: none;
  outline: none;
}
#background{
  position: relative;
  height: 100vh;
  width: 50%;

}
#background::before {
  //background-color: #99b8f1 !important;
  content: "";
  background-image: url("~src/assets/White Vibe Photocentric Minimalist To-Do List Instagram Story (1).png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.65;
}
#title{
  background-color: #ffde59 !important;
}
#input-div{
  background-color: #689af3;
}
.text-task{
  color: black !important;
  opacity: 1 !important;
}

